In [128]:
import pandas as pd

In [129]:
import numpy as np

In [130]:
#QUESTION 1
df = pd.read_csv('mower_market_snapshot.csv', delimiter=';') #Lire fichier CSV

In [131]:
df

,capacity,failure_rate,id,margin,price,prod_cost,product_type,quality,warranty,market_share,attractiveness
0,10.492623,0.042528,18377,633.766584,828.802103,195.03551928211797,auto-portee,Low,3ans,0.006360,0.650648
1,20.273730,0.037896,19363,731.576817,882.894916,151.31809934886763,auto-portee,Low,3 ans.,0.006840,0.699792
2,20.190457,0.039111,19641,741.218202,919.355522,178.13731921134948,auto-portee,Low,3_ans,0.006179,0.632129
3,27.220131,0.041303,18728,654.255635,817.085097,162.82946157588628,auto-portee,Low,3 anss,0.007925,0.810730
4,16.370911,0.037938,18722,703.094527,844.581465,141.48693796090603,auto-portee,Medium,3ans.,0.007406,0.757614
...,...,...,...,...,...,...,...,...,...,...,...
1394,44.959895,0.234647,18451,63.662561,75.161102,11.498540481074583,essence,Medium,1 an,0.000973,0.513126
1395,59.356058,0.253694,18663,64.014543,75.395132,11.380588736668567,essence,Low,1ans,0.001038,0.547739
1396,67.865222,0.228935,19169,62.132035,810.883148,unknown,essence,Low,1an.,0.001243,0.655622
1397,66.855435,0.244948,18946,58.697122,68.491318,9.794196773761458,essence,Low,1 an,0.001644,0.867537
1398,54.712713,0.177143,19017,64.259212,74.955428,10.696216086742934,essence,Low,1an.,0.001022,0.538969

In [132]:
#QUESTION 2
df.describe() #fonction describe()

,capacity,failure_rate,id,margin,price,market_share,attractiveness
count,1399.000000,1399.000000,1399.000000,1399.000000,1399.000000,1399.000000,1399.000000
mean,47.663266,0.166448,18958.000000,186.262609,260.075165,0.002144,0.636507
std,19.840501,0.073605,404.000825,191.011102,259.949127,0.001790,0.124016
min,0.013884,0.028906,18259.000000,52.943989,62.162200,0.000564,0.297384
25%,35.853890,0.095678,18608.500000,62.247602,73.379425,0.001135,0.549369
50%,50.309242,0.199796,18958.000000,66.299672,78.439753,0.001399,0.641351
75%,61.905015,0.228011,19307.500000,265.370973,384.265263,0.002446,0.726746
max,104.614865,0.302465,19657.000000,790.012898,964.973926,0.009314,0.952877

In [133]:
df.loc[:5] #fonction loc

,capacity,failure_rate,id,margin,price,prod_cost,product_type,quality,warranty,market_share,attractiveness
0,10.492623,0.042528,18377,633.766584,828.802103,195.03551928211797,auto-portee,Low,3ans,0.006360,0.650648
1,20.273730,0.037896,19363,731.576817,882.894916,151.31809934886763,auto-portee,Low,3 ans.,0.006840,0.699792
2,20.190457,0.039111,19641,741.218202,919.355522,178.13731921134948,auto-portee,Low,3_ans,0.006179,0.632129
3,27.220131,0.041303,18728,654.255635,817.085097,162.82946157588628,auto-portee,Low,3 anss,0.007925,0.810730
4,16.370911,0.037938,18722,703.094527,844.581465,141.48693796090603,auto-portee,Medium,3ans.,0.007406,0.757614
5,19.548213,0.035428,18268,728.284617,905.297503,177.01288573033196,auto-portee,Medium,3 ans,0.007596,0.777051

In [134]:
df.loc[2:5,('capacity','failure_rate','id')]

    capacity  failure_rate     id
2  20.190457      0.039111  19641
3  27.220131      0.041303  18728
4  16.370911      0.037938  18722
5  19.548213      0.035428  18268

In [135]:
df.sort_values(by='price', ascending=True).head() #fonction sort_values() + head()

,capacity,failure_rate,id,margin,price,prod_cost,product_type,quality,warranty,market_share,attractiveness
535,43.410781,0.089094,19576,286.579692,62.162200,0,electrique,Low,2 anss,0.002389,0.622614
1052,50.843741,0.195125,18366,53.272369,62.855737,9.583368011630627,essence,Low,1 an.,0.001364,0.719494
696,63.785109,0.228977,18315,55.156346,63.692980,8.536633990796986,essence,Low,1 an.,0.001374,0.724895
710,55.682973,0.219791,18808,53.612922,63.984195,10.371273145783007,essence,Low,1 an,0.001545,0.815051
919,49.237933,0.232052,18290,55.214844,64.146445,8.931600382421172,essence,Low,1an,0.001269,0.669645

In [136]:
df[df['id']==18259] #une vue != ...

,capacity,failure_rate,id,margin,price,prod_cost,product_type,quality,warranty,market_share,attractiveness
1051,66.180234,0.249758,18259,61.182062,71.867486,10.685424253813672,essence,Low,1 an.,0.00154,0.81269

In [137]:
df.loc[df['id']==18259,:] #... une copie avec loc

,capacity,failure_rate,id,margin,price,prod_cost,product_type,quality,warranty,market_share,attractiveness
1051,66.180234,0.249758,18259,61.182062,71.867486,10.685424253813672,essence,Low,1 an.,0.00154,0.81269

In [138]:
df[df['id'].isin([18259,18262])]

,capacity,failure_rate,id,margin,price,prod_cost,product_type,quality,warranty,market_share,attractiveness
781,0.059048,0.241700,18262,58.573978,68.418652,9.844674524572053,essence,Low,1 an,0.001324,0.698436
1051,66.180234,0.249758,18259,61.182062,71.867486,10.685424253813672,essence,Low,1 an.,0.001540,0.812690

In [139]:
df.iloc[:5,:2] #fonction iloc

    capacity  failure_rate
0  10.492623      0.042528
1  20.273730      0.037896
2  20.190457      0.039111
3  27.220131      0.041303
4  16.370911      0.037938

In [140]:
df.dropna() #fonction dropana()

,capacity,failure_rate,id,margin,price,prod_cost,product_type,quality,warranty,market_share,attractiveness
0,10.492623,0.042528,18377,633.766584,828.802103,195.03551928211797,auto-portee,Low,3ans,0.006360,0.650648
1,20.273730,0.037896,19363,731.576817,882.894916,151.31809934886763,auto-portee,Low,3 ans.,0.006840,0.699792
2,20.190457,0.039111,19641,741.218202,919.355522,178.13731921134948,auto-portee,Low,3_ans,0.006179,0.632129
3,27.220131,0.041303,18728,654.255635,817.085097,162.82946157588628,auto-portee,Low,3 anss,0.007925,0.810730
4,16.370911,0.037938,18722,703.094527,844.581465,141.48693796090603,auto-portee,Medium,3ans.,0.007406,0.757614
...,...,...,...,...,...,...,...,...,...,...,...
1394,44.959895,0.234647,18451,63.662561,75.161102,11.498540481074583,essence,Medium,1 an,0.000973,0.513126
1395,59.356058,0.253694,18663,64.014543,75.395132,11.380588736668567,essence,Low,1ans,0.001038,0.547739
1396,67.865222,0.228935,19169,62.132035,810.883148,unknown,essence,Low,1an.,0.001243,0.655622
1397,66.855435,0.244948,18946,58.697122,68.491318,9.794196773761458,essence,Low,1 an,0.001644,0.867537
1398,54.712713,0.177143,19017,64.259212,74.955428,10.696216086742934,essence,Low,1an.,0.001022,0.538969

In [141]:
df2 = df.copy() #Copie DataFrame
df2

,capacity,failure_rate,id,margin,price,prod_cost,product_type,quality,warranty,market_share,attractiveness
0,10.492623,0.042528,18377,633.766584,828.802103,195.03551928211797,auto-portee,Low,3ans,0.006360,0.650648
1,20.273730,0.037896,19363,731.576817,882.894916,151.31809934886763,auto-portee,Low,3 ans.,0.006840,0.699792
2,20.190457,0.039111,19641,741.218202,919.355522,178.13731921134948,auto-portee,Low,3_ans,0.006179,0.632129
3,27.220131,0.041303,18728,654.255635,817.085097,162.82946157588628,auto-portee,Low,3 anss,0.007925,0.810730
4,16.370911,0.037938,18722,703.094527,844.581465,141.48693796090603,auto-portee,Medium,3ans.,0.007406,0.757614
...,...,...,...,...,...,...,...,...,...,...,...
1394,44.959895,0.234647,18451,63.662561,75.161102,11.498540481074583,essence,Medium,1 an,0.000973,0.513126
1395,59.356058,0.253694,18663,64.014543,75.395132,11.380588736668567,essence,Low,1ans,0.001038,0.547739
1396,67.865222,0.228935,19169,62.132035,810.883148,unknown,essence,Low,1an.,0.001243,0.655622
1397,66.855435,0.244948,18946,58.697122,68.491318,9.794196773761458,essence,Low,1 an,0.001644,0.867537
1398,54.712713,0.177143,19017,64.259212,74.955428,10.696216086742934,essence,Low,1an.,0.001022,0.538969

In [142]:
df2.drop_duplicates() # fonction drop_duplicates() 
df2 #Pas de doublons

,capacity,failure_rate,id,margin,price,prod_cost,product_type,quality,warranty,market_share,attractiveness
0,10.492623,0.042528,18377,633.766584,828.802103,195.03551928211797,auto-portee,Low,3ans,0.006360,0.650648
1,20.273730,0.037896,19363,731.576817,882.894916,151.31809934886763,auto-portee,Low,3 ans.,0.006840,0.699792
2,20.190457,0.039111,19641,741.218202,919.355522,178.13731921134948,auto-portee,Low,3_ans,0.006179,0.632129
3,27.220131,0.041303,18728,654.255635,817.085097,162.82946157588628,auto-portee,Low,3 anss,0.007925,0.810730
4,16.370911,0.037938,18722,703.094527,844.581465,141.48693796090603,auto-portee,Medium,3ans.,0.007406,0.757614
...,...,...,...,...,...,...,...,...,...,...,...
1394,44.959895,0.234647,18451,63.662561,75.161102,11.498540481074583,essence,Medium,1 an,0.000973,0.513126
1395,59.356058,0.253694,18663,64.014543,75.395132,11.380588736668567,essence,Low,1ans,0.001038,0.547739
1396,67.865222,0.228935,19169,62.132035,810.883148,unknown,essence,Low,1an.,0.001243,0.655622
1397,66.855435,0.244948,18946,58.697122,68.491318,9.794196773761458,essence,Low,1 an,0.001644,0.867537
1398,54.712713,0.177143,19017,64.259212,74.955428,10.696216086742934,essence,Low,1an.,0.001022,0.538969

In [143]:
pd.concat([df.head(),df2.head()])

,capacity,failure_rate,id,margin,price,prod_cost,product_type,quality,warranty,market_share,attractiveness
0,10.492623,0.042528,18377,633.766584,828.802103,195.03551928211797,auto-portee,Low,3ans,0.006360,0.650648
1,20.273730,0.037896,19363,731.576817,882.894916,151.31809934886763,auto-portee,Low,3 ans.,0.006840,0.699792
2,20.190457,0.039111,19641,741.218202,919.355522,178.13731921134948,auto-portee,Low,3_ans,0.006179,0.632129
3,27.220131,0.041303,18728,654.255635,817.085097,162.82946157588628,auto-portee,Low,3 anss,0.007925,0.810730
4,16.370911,0.037938,18722,703.094527,844.581465,141.48693796090603,auto-portee,Medium,3ans.,0.007406,0.757614
0,10.492623,0.042528,18377,633.766584,828.802103,195.03551928211797,auto-portee,Low,3ans,0.006360,0.650648
1,20.273730,0.037896,19363,731.576817,882.894916,151.31809934886763,auto-portee,Low,3 ans.,0.006840,0.699792
2,20.190457,0.039111,19641,741.218202,919.355522,178.13731921134948,auto-portee,Low,3_ans,0.006179,0.632129
3,27.220131,0.041303,18728,654.255635,817.085097,162.82946157588628,auto-portee,Low,3 anss,0.007925,0.810730
4,16.370911,0.037938,18722,703.094527,844.581465,141.48693796090603,auto-portee,Medium,3ans.,0.007406,0.757614

In [144]:
df.groupby('product_type').sum()

,capacity,failure_rate,id,margin,price,market_share,attractiveness
product_type,,,,,,,
auto-portee,2584.399203,5.321437,2701431,97115.734838,116631.583129,1.0,102.302514
electrique,15697.770195,39.609520,7829912,110199.284139,159033.286414,1.0,260.563075
essence,48398.740356,187.929728,15990899,53266.371298,88180.285829,1.0,527.607446

In [145]:
#QUESTION 3
df.groupby('prod_cost').sum()

,capacity,failure_rate,id,margin,price,market_share,attractiveness
prod_cost,,,,,,,
-64,938.731080,3.051811,342132,3387.840282,10240.500750,0.036359,10.630728
0,909.966696,3.416788,380220,3937.177892,11518.947665,0.049090,13.077414
10.000151312469615,73.070220,0.248440,18488,66.397478,76.397629,0.001112,0.586593
10.002531748228646,47.548979,0.210551,19137,56.997519,67.000051,0.001316,0.694495
10.008485830089475,64.469214,0.171804,18657,63.624150,73.632636,0.001485,0.783491
...,...,...,...,...,...,...,...
99.25351366885364,52.985916,0.094458,18550,262.216458,361.469972,0.003328,0.867279
99.28924427491876,28.163433,0.081322,18409,263.467438,362.756682,0.002882,0.750851
99.62971468653679,41.172818,0.094580,19521,254.211481,353.841195,0.002985,0.777871
99.81312346726344,52.451596,0.083137,18708,254.872979,354.686102,0.003453,0.899721
unknown,615.673860,2.251474,244481,2308.169289,7698.074389,0.026610,8.378072

In [146]:
df[df['prod_cost'].isin(['0','10.008485830089475'])]

,capacity,failure_rate,id,margin,price,prod_cost,product_type,quality,warranty,market_share,attractiveness
47,25.136228,0.044026,19549,618.616295,69.359766,0,auto-portee,Medium,3ans.,0.008874,0.907834
64,18.669448,0.036297,19368,738.279214,424.738557,0,auto-portee,Medium,3_ans.,0.007104,0.726770
126,12.417808,0.037797,19638,672.153234,74.156037,0,auto-portee,Hight,3_ans,0.007923,0.810591
224,38.004822,0.088918,18523,255.289862,75.161299,0,electrique,Low,2_anss,0.002752,0.717166
377,42.216049,0.090275,18512,274.573188,877.008432,0,electrique,Medium,2_ans.,0.002511,0.654159
485,39.530576,0.098281,18731,266.559354,785.968557,0,electrique,Hight,2 anss,0.002300,0.599176
535,43.410781,0.089094,19576,286.579692,62.162200,0,electrique,Low,2 anss,0.002389,0.622614
591,59.089766,0.198374,19065,66.589054,907.224715,0,essence,Hight,1 ans,0.001037,0.547045
632,53.057689,0.272022,19013,59.620476,746.037497,0,essence,Low,1_an.,0.001348,0.711382
771,71.079908,0.204975,19084,64.761574,370.268763,0,essence,Low,1_an,0.001273,0.671882
803,64.469214,0.171804,18657,63.624150,73.632636,10.008485830089475,essence,Medium,1 ans,0.001485,0.783491
844,54.136865,0.212580,18956,58.926577,875.686141,0,essence,Low,1 an,0.001409,0.743584
873,73.951245,0.246320,18687,63.080659,882.868848,0,essence,Low,1an.,0.001277,0.673511
922,72.423733,0.261196,19336,68.353986,782.073365,0,essence,Hight,1 an,0.001087,0.573472
950,49.481572,0.222445,19150,63.558960,373.261749,0,essence,Medium,1 an.,0.001124,0.593181
1027,45.927230,0.194101,18816,62.608835,863.234098,0,essence,Medium,1 ans,0.001111,0.586140
1030,48.159517,0.239981,19164,61.198935,378.073376,0,essence,Medium,1an.,0.001145,0.604087
1077,38.713058,0.261767,18768,65.185911,852.153035,0,essence,Low,1 an,0.000833,0.439511
1104,0.080173,0.203146,18419,67.625805,374.466095,0,essence,Low,1 an.,0.001079,0.569345
1231,55.060353,0.196546,19193,61.635817,881.308880,0,essence,Low,1_an.,0.001246,0.657331
1373,69.419877,0.218645,18672,61.980466,863.736257,0,essence,Low,1_an,0.001267,0.668634

In [147]:
#QUESTION 4
df.dropna().sum()

capacity                                               65801.907612
failure_rate                                             229.864404
id                                                         26180048
margin                                                 257191.26206
price                                                 354001.635745
prod_cost         195.03551928211797151.31809934886763178.137319...
product_type      auto-porteeauto-porteeauto-porteeauto-porteeau...
quality           LowLowLowLowMediumMediumHightLowLowLowLowMediu...
warranty          3ans3 ans.3_ans3 anss3ans.3 ans3_ans.3 anss3_a...
market_share                                               2.959216
attractiveness                                           878.549034
dtype: object

In [148]:
# QUESTION 5
df.dropna(how= 'any').fillna(df.mean())

,capacity,failure_rate,id,margin,price,prod_cost,product_type,quality,warranty,market_share,attractiveness
0,10.492623,0.042528,18377,633.766584,828.802103,195.03551928211797,auto-portee,Low,3ans,0.006360,0.650648
1,20.273730,0.037896,19363,731.576817,882.894916,151.31809934886763,auto-portee,Low,3 ans.,0.006840,0.699792
2,20.190457,0.039111,19641,741.218202,919.355522,178.13731921134948,auto-portee,Low,3_ans,0.006179,0.632129
3,27.220131,0.041303,18728,654.255635,817.085097,162.82946157588628,auto-portee,Low,3 anss,0.007925,0.810730
4,16.370911,0.037938,18722,703.094527,844.581465,141.48693796090603,auto-portee,Medium,3ans.,0.007406,0.757614
...,...,...,...,...,...,...,...,...,...,...,...
1394,44.959895,0.234647,18451,63.662561,75.161102,11.498540481074583,essence,Medium,1 an,0.000973,0.513126
1395,59.356058,0.253694,18663,64.014543,75.395132,11.380588736668567,essence,Low,1ans,0.001038,0.547739
1396,67.865222,0.228935,19169,62.132035,810.883148,unknown,essence,Low,1an.,0.001243,0.655622
1397,66.855435,0.244948,18946,58.697122,68.491318,9.794196773761458,essence,Low,1 an,0.001644,0.867537
1398,54.712713,0.177143,19017,64.259212,74.955428,10.696216086742934,essence,Low,1an.,0.001022,0.538969

In [149]:
#QUESTION 6
df.iloc[:,8:9]

     warranty
0        3ans
1      3 ans.
2       3_ans
3      3 anss
4       3ans.
...       ...
1394     1 an
1395     1ans
1396     1an.
1397     1 an
1398     1an.

[1399 rows x 1 columns]

In [150]:
#QUESTION 7
df['warranty'].shape
df['warranty'] = df['warranty'].str[0].astype(int)

In [151]:
df.iloc[:,8:9]

      warranty
0            3
1            3
2            3
3            3
4            3
...        ...
1394         1
1395         1
1396         1
1397         1
1398         1

[1399 rows x 1 columns]

In [152]:
#QUESTION 8
df['warranty'].unique()

array([3, 2, 1])

In [153]:
#QUESTION 9
def catPrice(price):
    if price <= 301:
        return '0-300'
    elif (price >= 300) & (price <= 500):
        return '301 - 500'
    elif price >= 501:
        return '500++'

df['price'] = df['price'].map(catPrice)

In [154]:
df.iloc[:,4:5]

      price
0     500++
1     500++
2     500++
3     500++
4     500++
...     ...
1394  0-300
1395  0-300
1396  500++
1397  0-300
1398  0-300

[1399 rows x 1 columns]

In [155]:
#QUESTION 10
df.loc[df['product_type']=='auto-portee','product_type']=1
df.loc[df['product_type']=='electique','product_type']=2
df.loc[df['product_type']=='essence','product_type']=3
df["product_type"].unique()

array([1, 'electrique', 3], dtype=object)

In [156]:
df.iloc[:,6:7]

     product_type
0               1
1               1
2               1
3               1
4               1
...           ...
1394            3
1395            3
1396            3
1397            3
1398            3

[1399 rows x 1 columns]

In [160]:
#QUESTION 11
df=df.assign(isEssence=False)
df=df.assign(isElectrique=False)
df=df.assign(isAutoPortee=False)
df.loc[df['product_type']==1,'isAutoPortee']=True
df.loc[df['product_type']==2,'isElectrique']=True
df.loc[df['product_type']==3,'isEssence']=True

df.boolTypeColumns()

AttributeError: 'DataFrame' object has no attribute 'boolTypeColumns'

In [158]:
df

,capacity,failure_rate,id,margin,price,prod_cost,product_type,quality,warranty,market_share,attractiveness,isEssence,isElectrique,isAutoPortee
0,10.492623,0.042528,18377,633.766584,500++,195.03551928211797,1,Low,3,0.006360,0.650648,False,False,True
1,20.273730,0.037896,19363,731.576817,500++,151.31809934886763,1,Low,3,0.006840,0.699792,False,False,True
2,20.190457,0.039111,19641,741.218202,500++,178.13731921134948,1,Low,3,0.006179,0.632129,False,False,True
3,27.220131,0.041303,18728,654.255635,500++,162.82946157588628,1,Low,3,0.007925,0.810730,False,False,True
4,16.370911,0.037938,18722,703.094527,500++,141.48693796090603,1,Medium,3,0.007406,0.757614,False,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1394,44.959895,0.234647,18451,63.662561,0-300,11.498540481074583,3,Medium,1,0.000973,0.513126,True,False,False
1395,59.356058,0.253694,18663,64.014543,0-300,11.380588736668567,3,Low,1,0.001038,0.547739,True,False,False
1396,67.865222,0.228935,19169,62.132035,500++,unknown,3,Low,1,0.001243,0.655622,True,False,False
1397,66.855435,0.244948,18946,58.697122,0-300,9.794196773761458,3,Low,1,0.001644,0.867537,True,False,False
1398,54.712713,0.177143,19017,64.259212,0-300,10.696216086742934,3,Low,1,0.001022,0.538969,True,False,False